[Desktop Entry]
Type=Application
Name=Basalt
Comment=Basalt game launcher
Exec=basalt
Icon=basalt
Terminal=false
Categories=Game;
Keywords=game;launcher;steam;